*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Arial,sans-serif;
}

.navbar{
    display:flex;
    justify-content:space-between;
    align-items:center;
    background:#8B4513;
    padding:15px 40px;
    position:sticky;
    top:0;
    z-index:1000;
}

.logo{
    display:flex;
    align-items:center;
    gap:10px;
    color:#fff;
    font-size:22px;
    font-weight:bold;
}

.logo img{
    width:45px;
    height:45px;
    border-radius:50%;
}

.nav-links{
    display:flex;
    list-style:none;
    gap:30px;
}

.nav-links a{
    color:#fff;
    text-decoration:none;
    font-weight:bold;
    transition:.3s;
}

.nav-links a:hover,
.nav-links a.active{
    color:#FFD54F;
}

.menu-toggle{
    display:none;
    color:#fff;
    font-size:28px;
    cursor:pointer;
}

@media(max-width:768px){

    .menu-toggle{
        display:block;
    }

    .nav-links{
        display:none;
        position:absolute;
        top:75px;
        left:0;
        width:100%;
        background:#8B4513;
        flex-direction:column;
        text-align:center;
    }

    .nav-links.active{
        display:flex;
    }

    .nav-links li{
        padding:18px;
    }
}